@charset "utf-8";
/* CSS Document */

/* 사용한 글씨 */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@1&display=swap');

* {margin: 0; padding: 0;}
body {background: #FFFCF3;}
#wrap {width: 1200px; margin: 0 auto;} 
header {width: 100%; height: 150px; background: 0;}
aside {float: none; width: 100%; height: 300px; background: 0;}
section {float: left; width: 50%; height: 1000px; background: 0;}
section1 {float: left; width: 50%; height: 1000px; background: 0;}
section3 {float: left; width: 100%; height: 100px; background: 0; margin-top: 10%; text-align: center;}


/* 화면 너비 0 ~ 1200px */
@media (max-width: 1220px){
    #wrap {width: 80%;}
	aside {float: none; width: 87%; height: 200px; background: 0;}
	section {float: none; width: 700px; height: 1000px; margin: 0 auto;} 
	section1 {float: none; width: 700px; height: 1000px; margin: 0 auto;}
	section3 {float: left; width: 100%; height: 50px; background: 0; margin-left: 0%; margin-bottom: 5%; margin-top: 0;}
}

/* 화면 너비 0 ~ 768px */
@media (max-width: 768px){
    #wrap {width: 80%;}
	
	
}

/* 화면 너비 0 ~ 480px */
@media (max-width: 480px){
    #wrap {width: 70%;}
    header {height: 300px;}
    aside {float: none; width: 100%; height: 300px;}
    section {float: none; width: 100%; height: 300px;}

}

/* 메뉴바 */
.menubar {
	margin-top: 6%;
	margin-left: 100%;
}

input[id="menuicon"] {
	display: none;
}
       
input[id="menuicon"] + label {
	display: block;
	width: 40px;
	height: 25px;
	position: relative;
	cursor: pointer;
}

input[id="menuicon"] + label span {
	display: block;
	position: absolute;
	width: 100%;
	height: 3px;
	border-radius: 0px;
	background: #998383;
	transition: all .35s;
}

input[id="menuicon"] + label span:nth-child(1) {top: 0;}
input[id="menuicon"] + label span:nth-child(2) {top: 50%; transform: translateY(-50%);}
input[id="menuicon"] + label span:nth-child(3) {bottom: 0;}

input[id="menuicon"]:hover + label span:nth-child(1) {top: 50%; transform:translateY(-50%) rotate(45deg);}
input[id="menuicon"]:hover + label span:nth-child(2) {opacity: 0;}
input[id="menuicon"]:hover + label span:nth-child(3) {bottom: 50%; transform: translateY(50%) rotate(-45deg);}


/* 바로크 */
.title_t {
	z-index: 1;
	color: #7A5C5C;
	font-family: 'Cormorant Garamond', serif;
	font-size: 100px;
	margin-bottom: -80px;
	text-align: center;
}

/* 오선지 */
hr {
	z-index: 0;
	margin-top: 15px;
	width: 159%;
	margin-left: -30%;
	border: solid 0.5px #E4DBD6;
}

/* 바로크 년도 */
.music_6 {width: 100%;
	font-family: 'Spectral', serif;
	font-size: 25px;
	margin-top: -15%;
	margin-bottom: 20%;
	color: #C7B6B2;
	text-align: center;
}

/* 바흐 액자 */
.Bach1 {
	text-align: center;
}

/* 바흐 타이틀 */
p{font-size: 27px;}
.Bach1_1 {
	font-family: 'Baskervville', serif;
	margin-bottom: 20%;
	color: #998383;
	font-size: 33px;
	margin-top: 10%;
	margin-left: 10%;
}

/* 바흐 내용 */
.Bach1_2 {
	width: 500px;
	font-size: 18px;
	text-align: justify;
	color: #BCAFAA;
	font-family: "AppleSDGothicNeoL00";
	margin: 0 auto;
	margin-top: -10%;
}


/* 헤겔 액자 */
.Hegel1 {
	text-align: center;
}

/* 헤겔 타이틀 */
.Hegel1_1 {
	font-family: 'Baskervville', serif;
	margin-bottom: 20%;
	color: #998383;
	font-size: 33px;
	margin-top: 10%;
	margin-left: 10%;
}

/* 헤겔 내용 */
.Hegel1_2 {
	width: 500px;
	font-size: 18px;
	text-align: justify;
	color: #BCAFAA;
	font-family: "AppleSDGothicNeoL00";
	margin: 0 auto;
	margin-top: -10%;
}

/* 칸트 액자 */
.Kant1 {
	text-align: center;
}

/* 칸트 타이틀 */
.Kant1_1 {
	font-family: Vijaya;
	margin-bottom: 20%;
	color: #998383;
	font-size: 40px;
	margin-top: 10%;
	margin-left: 10%;
}

/* 칸트 내용 */
.Kant1_2 {
	width: 500px;
	font-size: 18px;
	text-align: justify;
	color: #BCAFAA;
	font-family: "AppleSDGothicNeoL00";
	margin: 0 auto;
	margin-top: -10%;
}


/* 화살표 */
.point1 {
	margin-top: 10%;
	text-align: right;
	margin-bottom: 20%;
}

/* 바닥 텍스트 */
.last {
	color: #998383;
	font-family: 'Cormorant Garamond', serif;
	text-align: center;
	font-size: 13px;
}


